.timeline .timeline-content::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #703BF7;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

.timeline .timeline-content .right::before,
.timeline .timeline-content .left::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #eee;
    border: 3px solid #703BF7;
    position: absolute;
    border-radius: 50%;
    top: 20px;
}


.timeline .timeline-content .left::before {
    right: -32px;
}

.timeline .timeline-content .right::before {
    left: -32px;
}

.timeline .timeline-content .content h3 {
    color: #703BF7;
    margin: 0 0 10px;
}

.timeline .timeline-content .content p {
    color: #666;
}

.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
}

.timeline .timeline-content .left .content::before {
    border-color: transparent transparent transparent #eee;
    right: -20px;
}

.timeline .timeline-content .right .content::before {
    border-color: transparent #eee transparent transparent;
    left: -20px;
}

@media(max-width:767px) {

    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before {
        display: none;
    }

    .timeline .timeline-content .right::before,
    .timeline .timeline-content .left::before {
        display: none;
    }
}

.clearfix {
    clear: both;
}